.container{
    width:100%;
    position: relative;
    justify-content: center;
}
.about{
    width: 80%;
    margin: 0 auto;
}
.about-inner{
    height:500px;
}
#profile{
    border: 2px solid lightgray;
    box-shadow: dimgray;
}
.profile-img{
    background-image: url(https://search.pstatic.net/sunny/?src=https%3A%2F%2Fthumb10.iclickart.co.kr%2FThumb10%2F15080000%2F15074176.jpg&type=a340);
    border-radius: 50%;
    width: 300px;
    height: 400px;
    display: flex;
    float: left;
    margin: 10px 150px 20px 30px;
}
.profile-list{
    width: 500px;
    height: 300px;
    float: left;
    font-size: larger;
    font-weight: bold;
}